table {
  width: 100%;
}

.loading-spinner
{
  padding: 25px;
  background-color: rgb(209, 208, 208);
  display:flex;
  align-items: center;
  justify-content: center;;
}

.buttons
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

}
