<app-category (newList) = "onListCategory()" ></app-category>

<mat-card>
  <mat-card-content>

    <!-- <mat-toolbar color="secondary">
      <span>
        Produtos disponíveis
        <button (click)="onAdd()" mat-mini-fab color="accent" aria-label="Adicionar um curso">
          <mat-icon >add</mat-icon>
        </button>
      </span>
    </mat-toolbar> -->

    <div *ngIf="category$ | async as categories; else loading">
      <table mat-table [dataSource]="categories" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let category"> {{ category.name }} </td>
        </ng-container>


        <!-- add Column -->
        <ng-container matColumnDef="actions">
          <div>
            <mat-header-cell class="buttons" *matHeaderCellDef>
              <!-- <button (click)="onAdd()" mat-mini-fab color="accent" aria-label="Adicionar um curso">
                <mat-icon >add</mat-icon>
              </button> -->
            </mat-header-cell>
          </div>

          <div>
            <mat-cell class="buttons" *matCellDef="let category">

              <button (click)="onUpdate(category.id)" mat-icon-button color="" aria-label="Editar categoria">
                <mat-icon>edit</mat-icon>
              </button>

              <button (click)="onRemove(category.id)" mat-icon-button color="warn" aria-label="Remover categoria"> <!--(click)="onRemove(pessoa.id)"-->
                <mat-icon>delete</mat-icon>
              </button>

            </mat-cell>
          </div>
        </ng-container>

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>"
    </ng-template>

  </mat-card-content>
</mat-card>

